* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: gray;
}

header {
    background-color: black;
    color: white;
}

.d-inline-block {
    display: inline-block;
}

.v-align-middle {
    vertical-align: middle;
}

.add-task {
    background-color: rgb(30, 146, 253);
    color: white;
    padding: 5px;
    border: 2px solid rgb(30, 146, 253);
    border-radius: 5px;
}

.add-section {
    padding: 5px;
    color: gray;
    border: 2px solid gray;
    border-radius: 5px;
    margin-left: 10px;
}

#logo {
    width: 80px;
    margin: 20px;
}

#title {
    font-size: 50px;
}

.buttons {
    padding: 20px 20px;
}

.container {
    width: 1200px;
    margin: 40px auto;
}

.content {
    color: white;
    background-color: black;
    border-radius: 10px;
}

.list {
    padding: 20px;
    border-top: 3px solid gray;

ul {
    list-style-type: none;
}

li {
    margin: 20px 0;
}

.circle {
    border: 2px solid;
    border-radius: 50%;
    margin-right: 15px;
    padding: 2px 7px;
}

.label {
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 10px;
}

.bg-cyan {
    background-color: rgb(30, 146, 253);
}

.bg-purple {
    background-color: blueviolet;
}

.bg-green {
    background-color: rgb(0, 94, 58);
}

.bg-orange {
    background-color: rgb(206, 93, 0);
}

.bg-pink {
    background-color: rgb(167, 11, 146);
}

.bg-lime {
    background-color: rgb(85, 180, 30);
}

.red {
    color: red;
}

.green {
    color: rgb(0, 190, 0);
}